@model IEnumerable<PhilBodPill.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="pillow-cards">
    @foreach (var item in Model)
    {
        string imagePath = $"{item.Image}";

        <div class="pillow-card">
            <h3>@Html.DisplayFor(modelItem => item.Name) Pillow</h3>
            <img src="@imagePath" />
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <div class="item-price">
                <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
            </div>
        </div>
    }
</div>
