@{
    ViewData["Title"] = "Forbidden";
    Layout = "_Layout";
}

<h1>You are not allowed to access this page.</h1>

<h3>Maybe you don't have admin privledges.</h3>

<h5>Or maybe you're a filthy Chet!</h5>