@page
@model PhilBodPill.Pages.UserManagement.UpdatePasswordModel
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdatePassword</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="UpdatePasswordViewModel.CurrentPassword"></label>
        <input asp-for="UpdatePasswordViewModel.CurrentPassword" required class="form-control" />
        <span asp-validation-for="UpdatePasswordViewModel.CurrentPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UpdatePasswordViewModel.UpdatedPassword"></label>
        <input asp-for="UpdatePasswordViewModel.UpdatedPassword" class="form-control" />
        <span asp-validation-for="UpdatePasswordViewModel.UpdatedPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UpdatePasswordViewModel.ConfirmUpdatedPassword"></label>
        <input asp-for="UpdatePasswordViewModel.ConfirmUpdatedPassword" class="form-control" />
        <span asp-validation-for="UpdatePasswordViewModel.ConfirmUpdatedPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-lg btn-secondary btn-block">Change Password</button>
</form>

<div>
    <a asp-page="/UserDash">Back to Profile</a>
</div>