// colors
$info-color: #7dccca;
$danger-color: #ff5a5a;
$main-background: #494949;
$main-text: #b0b0b0;
$cart-background: #878787;
$button-color: #fffc56;
$button-outline: #bb4a00;
$hover-highlight: #fffc56;
$hover-outline: #7e7c00;
$nav-background: #000644;
$nav-text: #070707;
$nav-button: #808080;
$card-color: #a55e8a;

// fonts
$handwriting: 'Permanent Marker', cursive;
$sanswriting: 'Chakra Petch', sans-serif;
$serifwriting: 'Slabo 27px', serif;

