@using Microsoft.AspNetCore.Identity;
@using PhilBodPill.Models;

@inject SignInManager<User> SignInManager

@model List<PhilBodPill.Models.Basket>

@{
    ViewData["Title"] = "Checkout";
    ViewData["Heading"] = "Your Order Has Been Placed";
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    string uid = User.Claims.First(id => id.Type == "userID").Value;
    string email = User.Claims.First(x => x.Type == "userEmail").Value;
    object userData = new
    {
        uid = uid,
        email = email
    };

    <h3>Well Done! You are now the proud owner some sweet philosopher body pillows.</h3>
    <h5>You'll never be lonely again.</h5>

    <p>This is your reciept. Please keep a copy for your records</p>

    <table>
        <thead>
            <tr>
                <td>
                    Product
                </td>
                <td>
                    Unit Price
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Subtotal
                </td>
            </tr>
        </thead>
        @await Component.InvokeAsync("Receipt", userData)
    </table>
}
