@using Microsoft.AspNetCore.Identity;
@using PhilBodPill.Models;

@inject SignInManager<User> SignInManager

@model List<PhilBodPill.Models.Basket>

@{
    ViewData["Title"] = "Checkout";
    ViewData["Heading"] = "Order Confirmation";
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    string address = User.Claims.First(x => x.Type == "userAddress").Value;
    string uid = User.Claims.First(id => id.Type == "userID").Value;
    <h2> The products below will be mailed to the following address... </h2>
    <p>@address</p>
    <h4>Payment Options</h4>
    <h4>Note, this is not a real thing. Don't put actual credit card info anywhere on this site, ya doink!</h4>
    <select>
        <option>Fake Credit Card Number 1</option>
        <option>Fake Credit Card Number 2</option>
        <option>Seriously, why is this even here?</option>
    </select>
    <a asp-action="Checkout">Confirm Order</a>
    @await Component.InvokeAsync("CartFullDetail", uid);
}