@page
@model PhilBodPill.Pages.AdminDashModel
@{
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Heading"] = "Administrator Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>This is the Administrator Area</p>

