@page

@using Microsoft.AspNetCore.Identity;
@using PhilBodPill.Models

@model PhilBodPill.Pages.AdminDashModel

@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Heading"] = "Administrator Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info-text">
    @if (SignInManager.IsSignedIn(User))
    {
        <h3> @User.Claims.First(name => name.Type == "greeting").Value </h3>

        <ul class="admin-menu">
            <li><a asp-page="/ProductManagement/CreateProduct">Add A New Product</a></li>
            <li><a asp-page="/ProductManagement/ListProducts">Edit/Delete Products</a></li>
        </ul>

        <h4>Recent Orders</h4>
        @if (Model.Orders.Count() == 0)
        {
            <p>There are no orders to display.</p>
        }
        else
        {
            <ul>
                @foreach (var item in Model.Orders)
                {
                    @await Component.InvokeAsync("OrderListItem", item)
                }
            </ul>
        }

    }
    else
    {
        <p>What? How are you even seeing this?</p>
    }
</div>

