/* base styles */
body {
    background-color: #333;
    color: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main {
    background: #494949;
    color: #b0b0b0;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.info-text {
    color: #7dccca;
}

.danger-text {
    color: #ff5a5a;
}

/* nav styles */

nav {
    align-items: center;
    background-color: #000644;
    display: flex;
    height: 50px;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.nav-items li {
    background-color: #808080;
    color: #070707;
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.nav-items li a {
    text-decoration: none;
}

.nav-items li a:visited {
    color: #070707;
}

.nav-items li a:hover {
    color: #fffc56;
}

/* product cards */
.pillow-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pillow-card {
    background-color: #a55e8a;
    color: #333;
    padding: 3px;
}